body{
    font-family: Roboto;
    background-color: #F0F0F0;
    
}

.section-title{
    font-style: italic;
    font-size: 30px;
    color: #666;
    margin-bottom: 10px;
    text-align: center;
}

#header{
    height: 50px;
    width:  100%;
    background-color: steelblue;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    
}

#header a{
    color: white;
    margin-right: 10px;
}

.header-logo{
    font-size: 22px;
    font-weight: 900;
}

#under-header{
    margin-top: 70px;
}

.page{
    padding: 20px 15px 40px 15px;
    margin-bottom: 26.5px;
    background-color: #FFF;
    width: 100%;
}

.page-title{
    font-size: 30px;
    font-weight: 900;
    color: steelblue;
}
